global
    log stdout local0
    maxconn 4096

frontend https-in
    # Weak: TLS 1.0 as the minimum accepted version.
    bind *:443 ssl crt /etc/haproxy/certs/leaf.pem ssl-min-ver TLSv1.0 ciphers ECDHE-RSA-AES256-GCM-SHA384:AES256-SHA
    default_backend app_servers

frontend https-strong-in
    bind *:8443 ssl crt /etc/haproxy/certs/leaf.pem ssl-min-ver TLSv1.2 ciphersuites TLS_AES_256_GCM_SHA384
    default_backend app_servers

backend app_servers
    server app1 10.0.0.1:8080 check
